form {
  @include form-style;
}

#form-success {
  font-size: 1.1rem;
  font-weight: 500;
  border-left: 5px solid $primary;
}

#contactForm {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
